extends layout

block content

   table
    - for (inc = 0; inc < pictures.length; inc++)
     if (inc == 0 || inc % 4 == 0)
      tr
     td(align="center" width=370 height=370)
      a(href='/detail/'+pictures[inc])
       img(src='/image/'+pictures[inc]+'/image.jpg' width='350',height='350' )

