extends layout
block pageContent
 .cont(align="center")
  h1 Image Gallery
   div
   for picture in pictures      
    a(href='/image/'+picture+"/image.jpg")
     img(src='/image/'+picture+'/image.jpg')
